# Exemplo de configuração - Copie para .env e altere os valores
DATABASE_URL=postgresql://admin:suasenha@db:5432/seed_db
SECRET_KEY=sua_chave_secreta_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480